.mobile-nav-wrapper {
    display: none;
    padding: 30px 30px;
    background-color: var(--footer-bg);
    color: var(--footer-text-color);
    position: absolute;
    z-index: 8;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;

    a {
        color: var(--footer-text-color);
        transition: color 0.2s ease-in;

        &:hover {
            color: #fff;
        }
    }

    &--open {
        display: block;
    }
}

/* Nav */

.mobile-nav {
    display: grid;
    gap: 20px;
    font-size: 22px;
}

.mobile-nav__item {}

.mobile-nav__link {}

.mobile-nav__link--dropdown {}

.mobile-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-cart {
    display: flex;
    flex-grow: 1;
    gap: 20px;
    padding-right: 20px;
    align-items: center;

    border-right: 1px solid rgba(255, 255, 255, 0.2);

    font-size: 22px;
    font-weight: 500;
    
}

/* Sub nav */

.mobile-sub-nav {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 16px;
    display: grid;
    gap: 14px;
}

.mobile-sub-nav__item {}

.mobile-sub-nav__link {}